<div class="container">
	<h1 class="hotel-title">Book on India's Largest Hotel Network</h1>
	<%= form_for :search, url: hotels_search_path, method: "get" do |f| %>
		<div class="search">
			<div class="section-1" >
				<ul class="clearfix" >
					<li class="value-1" style="width: 33.32%">
					   <%= label_tag  :name_or_city_or_state_or_city, 'Hotel Name or State or City' %>
					   <%= text_field  :search, :name_or_state_or_city , :required => true, :placeholder => 'Gujrat / Vadodra / Subhash'%>
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>
					</li>
					<li class="value-3">
						<%= label_tag :check_in, "Check in", :class => 'search-content' %>
						<%= date_field :search, :checkinSel , :required => true, :min => Date.today, :value => Date.today, :onchange => 'setCheckinCheckoutDate()'%>
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>
					</li>
					<li class="value-4">
						<%= label_tag :check_out, "Check out", :class => 'search-content' %>
						<%= date_field :search, :checkoutSel , :required => true, :min => Date.today+1, :value => Date.today+1  %>
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>
					</li>
					<li class="value-5">
						<%= label_tag :rooms, "Rooms", :class => 'search-content' %>
						<%= select_tag 'search[roomSel]', options_for_select(["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15"]), :required => true%>		
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>								
					</li>
					<li class="value-6"><label class="search-content">
					<input type="submit" value="search" class="search-button">
					</label></li>
				</ul>
			</div>
	 	</div>
 	<% end %>
</div>