
<div class="container" style="padding-top: 4%">
	    <% if @res.empty? %>
			<div class="hotel_list">
				<span>Sorry, Hotels Not found</span>
			</div>
	    <% else %>		
	<div class="hotel_box">	    
			<h5 style="margin-left: 20px">Listing Hotels</h5>
			<table class="application_table">
			<tr style="border-bottom: 1px solid">
			<th> Hotel Name </th>
			<th> State  </th>
			<th> City  </th>
			<th> Address  </th>
			<th> Description  </th>
			</tr>
			<% cache @res do %>
				<% @res.each do |a|%>
					<tr class="table_details" onclick = "window.location.href = '<%= search_path(a) %>'">
					<td><%= a.name %></td>
					<td><%= a.state %></td>
					<td><%= a.city %></td>
					<td><%= a.location %></td>
					<td><%= a.description %></td>
					</tr>
				<% end %>
			<% end %>
			</table>
	</div>
			<%= paginate @res %>
		<% end%>
</div>
<br>