<div class="container">
	<h1 class="hotel-title">Book on India's Largest Hotel Network</h1>
	<%= search_form_for @search, url: search_search_path, method: :get do |f| %>
		<div class="search">
			<div class="section-1" >
				<ul class="clearfix" >
					<li class="value-1" style="width: 33.32%">
						<%= f.label :hotel_or_city_or_state_cont %>
					   <%= f.text_field  :name_or_state_or_city_start , :required => true, :placeholder => 'Gujrat / Vadodra / Subhash'%>
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>
					</li>
 					<li class="value-3">
						<%= f.label :check_in, 'Checkin', :class => 'search-content' %>
						<%= f.date_field  :checkin_eq , :class => 'datepicker', :required => true, :min => Date.today, :value => Date.today %>
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>
					</li>
					<li class="value-4">
						<%= f.label :check_out, "Checkout", :class => 'search-content' %>
						<%= f.date_field  :checkout_not_eq , :class => 'datepicker', :required => true, :min => Date.today+1, :value => Date.today+1  %>
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>
					</li>
					<li class="value-5">
						<%= f.label :rooms, "Rooms", :class => 'search-content' %>
						<%= select_tag 'q[roomSel]', options_for_select([]), :required => true%>		
					   <div id="error-div" class="warning">
					   		<label >Can't be Empty</label>
					   </div>								
					</li>
					<li class="value-6"><label class="search-content">
					<input type="submit" value="search" class="search-button">
					</label></li>
				</ul>
			</div>
	 	</div>
 	<% end %>
</div>