<div class="container">
	<div class="hotel_box">
		<h5 style="margin-left: 20px">Listing Rooms</h5>
		<%= form_for :booking, url: room_booking_confirmation_path, method: "get" do |f| %>
		<table  class="application_table">
		<tr style="border-bottom: 1px solid">
		<th></th>
		<th> Price</th>
		<th> Room Description  </th>
		<th> No Of Bedroom </th>
		</tr>
		<% cache @rooms_page do %>
			<% @rooms_page.each do |a|%>
				<tr>
					<td style="padding-top: 0.5%"><%= check_box("room_select", a.id)%></td>
					<td><%= a.price.to_i %></td>
					<td><%= a.description %></td>
					<td><%= a.no_of_bedroom %></td>						
				</tr>
			<% end %>
		<% end %>
		</table>
		<div class="room_button">
			<%= f.submit "Place Booking"%>
		</div>
	</div>
		<% end %>	
		<%= paginate @rooms_page %>
</div>
<br>