<div class="container">

<div class="details" style="width: 30%">
	<div class="details_left_box">
		<% if member_signed_in? %>
		<%= search_form_for @q, url: booking_details_path, method: "get" do |f| %>
		  <div>
		  	<%= f.label :date_eq, "Booking Date" %>
		  	<%= f.date_field :date_eq %>
		  </div>
		  <div style="margin-bottom: 10px">
		  	<%= f.label :rooms_hotel_name_eq, "Hotel Name" %>
		  	<%= select_tag("q[rooms_hotel_name_eq]",  options_from_collection_for_select(Hotel.all, "name", "name"))%>
		  </div>
		  <div class="room_button">
		  	<%= f.submit %>
		  </div>
		<% end %>
	</div>
</div>

<div class="details" style="width: 60%;">
	<% if @details_result.empty? %>
	<h6>No Bookings done yet</h6>
	<% else %>	
	<div class="details_left_box" style="padding: 1%;">	
		<table class="application_table">
		<tr>
		<th> <%= sort_link(@q, :date, 'Date', default_order: :desc) %></th>
		<th> <%= sort_link(@q, :checkin, 'Checkin', default_order: :desc) %>  </th>
		<th> Checkout </th>
		</tr>
		<% cache do %>
			<% @details_result.each do |booking| %>
				<tr>
					<td><%=booking.date%></td>
					<td><%= booking.checkin%></td>
					<td><%= booking.checkout%></td>
					<% if booking.checkin > Date.today%>
					<td> <%= link_to 'Cancel Booking', booking_path(booking) ,method: :delete , data: { confirm: 'Are you Sure ?' } %> </td>
					<% end %>						
				</tr>
			<% end %>
		<% end %>
		</table>
	</div>
	<% end %>
	<%= paginate @details_result %>	
</div>
<%else%>
	<% controller.redirect_to new_member_session_path %>
<% end %>
</div>