<% if member_signed_in? %>
<div class="container">
<h4>Booking Rooms Confirmation </h4>
<div class="hotel_box">
	<h5>Hotel Details </h5>
	<%= form_for :booking, url: room_booked_path do |f| %>	
		<table class="application_table">
			<tr>
			<th> Hotel Name </th>
			<th> State  </th>
			<th> City  </th>
			<th> Address  </th>
			</tr>
			<% @hotel_details.each do |a|%>
				<tr>
				<td><%= a.name %></td>
				<td><%= a.state %></td>
				<td><%= a.city %></td>
				<td><%= a.location %></td>
				</tr>
			<% end %>
		</table>	
</div>
<div class="room_box"  style="box-shadow: 2px 0px 15px #000">
	<h5>Rooms Details </h5>
	<table class="application_table">
	<tr>
	<th> Room Description  </th>
	<th> No Of Bedroom </th>
	<th> Price  </th>
	</tr>
	<% cache do %>
		<% @rooms_details.each do |details|%>
				<tr>
				<td><%= details.description %></td>
				<td><%= details.no_of_bedroom %></td>
				<td><%= details.price.to_i %></td>
				</tr>				
		<% end %>		
	<tr>
		<th> Total </th>
		<th></th>
		<td><b><%= @booking_price %></b></td>
	</tr>
	<% end %>
	</table>
	<div class="room_button">
		<%= f.submit "Book Rooms", data: { confirm: 'Confirm?' } %>
		<%= link_to 'Cancel', home_index_path, data: { confirm: 'Are you Sure?' } %>
	</div>
</div>
	<% end %>
</div>
<br>
<% else%>
	<% controller.redirect_to new_member_session_path %>
<% end %>
